{% extends 'base.html.twig' %}
{% block body %}
<article>
    <h2 class="m-3 text-center">{{ article.title }}</h2>
    <a class="m-3 btn btn-success position-absolute end-0 m-3" href="{{ path('edit_article', {'id' : article.id}) }}">Edit</a>
    <div class="m-3 text-center metadata">Written the {{ article.createdAt | date('d/m/Y') }} at {{ article.createdAt | date('H:i') }} in the Sports category</div>
    <div class="m-3 d-flex justify-content-center align-items-center">
        <img class="img-fluid w-50" src={{ article.picture }} alt="Image of the article" title="Image of the article">
    </div>
    <p class="text-center">{{ article.content }}</p>
    </article>
{% endblock %}